<launch>
  <arg name="base" value="$(env ROS_GUMMI_BASE)" />
  <arg name="param_for_model" value="$(eval '-file' + find('gummi_base_' + base) + 'urdf/gummi_description.urdf -urdf -model gummi_description')"/>
  <include file = "$(eval find('gummi_base_' + base) + '/launch/controllers_base.launch')">
    <arg name="msg" value="$(arg param_for_model)"/>
  </include>


  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="$(param_for_model)"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
