<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_manager_arm" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                gummi_d:
                    <!-- Equivalent to /dev/ttyUSB1 can be find at /dev/serial/by-id -->
                    port_name: /dev/serial/by-id/usb-FTDI_USB__-__Serial_Converter_FT1YEVHT-if00-port0 <!--/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A5052NDS-if00-port0" -->
                    baud_rate: 500000
                    min_motor_id: 1
                    max_motor_id: 60
                    update_rate: 1
                gummi_ae:
                    <!-- Equivalent to /dev/ttyUSB0 can be find at /dev/serial/by-id -->
                    port_name: /dev/serial/by-id/usb-FTDI_USB__-__Serial_Converter_FT1YCG2E-if00-port0 <!-- "/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A5052RCN-if00-port0" -->
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 65
                    update_rate: 100
                gummi_se:
                    <!-- Equivalent to /dev/ttyUSB0 can be find at /dev/serial/by-id -->
                    port_name: /dev/serial/by-id/usb-FTDI_USB__-__Serial_Converter_FT1YCJTW-if00-port0 <!--"/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AL02L1KJ-if00-port0"-->
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 60
                    update_rate: 100
        </rosparam>
    </node>
    <arg name="base" value="$(env ROS_GUMMI_BASE)" />
    <include file = "$(eval find('gummi_base_' + base) + '/launch/msg_to_screen.launch')">
      <arg name="msg" value="&quot;*** For help and troubleshooting visit: https://github.com/mstoelen/GummiArm/wiki and https://github.com/GummiArmCE/gummi_base_template/wiki/Troubleshooting ***&quot;"/>
    </include>
</launch>
